.textarea-block {
    position: relative;
}

.textarea-block + .textarea-block { /* aplica o margin bottom sempre que houver um objeto de classe textarea-block acima dele */
    margin-top: 1.4rem;
}

.textarea-block label {
    font-size: 1.4rem;
}

.textarea-block textarea {
    width: 100%;
    height: 16rem;
    min-height: 8rem; /* Tamanho mínimo para redução da caixa de texto */
    margin-top: 0.8rem;
    border-radius: 0.8rem; /*arredondando as bordas */
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white); /* cor da borda da caixa de texto */
    outline: 0;
    resize: vertical; /* Opção para reduzir ou ampliar a caixa de texto verticalmente apenas */
    padding: 1.2rem 1.6rem;
    font: 1.6rem Archivo; /*fonte do texto que será inserida dentro da caixa de texto */
}

.textarea-block:focus-within::after { /* Efeito de linha roxa que aparece ao clicar na caixa de texto */
    width: calc(100% - 3.2rem);
    height: 2px;
    content: ''; /* obrigatório sempre que estiver usando after ou before */
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    bottom: 7px;
}

/* Este css foi feito dentro do styles do TeacherList, porém recortei e trouxe para este css, pois criei um
componente próprio do Input */